table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .allemp{
    width: 72%;
    margin: 0px auto;
  }
  .add{
    background: aquamarine;
    border: none;
    border-radius: 20px;
    margin-bottom: 13px;
    height: 46px;
    padding: 13px;
    font-size: 17px;
  }