<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div ng-init="displayData()" class="allemp">
    <div>
        <div><h1>All Employees</h1></div>
        <div><button class="add" ng-click="openModal()">Add Employees</button>
          <button class="add" value="Export to Excel" id="btnexport" ng-click="exportData()" ><i class="fa fa-file"></i> Export</button></div>
    </div>
    <div  id="export">
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Designation</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="emp in allemp">
          <td>{{emp.firstName}}</td>
          <td>{{emp.lastName}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.designation}}</td>
          <td><i class="fa fa-edit" ng-click="editmodal(emp.id,emp.firstName,emp.lastName,emp.email,emp.password,emp.designation)"></i></td>
          <td><i class="fa fa-trash" ng-click="DeleteEmp(emp.id)"></i></td>
        </tr>
      </table>
    </div>
</div>